# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
pytrials
jmespath
openai
redis
num2words
matplotlib 
plotly 
scipy 
scikit-learn
transformers
streamlit
langchain
llama-index
gpt_index
tqdm
gradio